.TabletAreaSection>svg {
    position: absolute;
    left: 0;
    top: 0
}

.FullAreaContainer {
    /* You can use images as Area background here */
    background-image: url("");
    background-size: cover
}

#FullArea {
    /*fill: white;*/
    fill: transparent;
    stroke:rgb(0,0,0);
    stroke-width:1px
}

#UserDefinedArea {
    fill: blue
}

#PenPosition {
    fill: red
}

